<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-study.css">
</head>
<body id="page-study">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/images/logo.svg" alt="Proffy">
            </div>

            <div class="header-content">
                <strong>Esses são os proffys disponíveis</strong>
                <form id="search-teachers">
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>
                            {%for subject in subjects %}
                                <option value="{{loop.index}}" {{ "selected" if filters.subject == loop.index }}>
                                    {{subject}}
                                </option>
                            {%endfor%}
                            
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="weekday">Dia da semana</label>
                        <select name="weekday" id="weekday">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>
                            {%for weekday in weekdays %}
                                <option value="{{loop.index0}}" {{ "selected" if filters.weekday == loop.index }}>
                                    {{weekday}}
                                </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">Hora</label>
                        <input name="time" id="time" type="time" value="{{filters.time}}">
                    </div>
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main>

            {%for proffy in proffys %}
            <article class="teacher-item">
                <header>
                    <img 
                        src="{{proffy.avatar}}" 
                        alt="{{proffy.name}}">
                    <div>
                        <strong>{{proffy.name}}</strong>
                        <span>{{proffy.subject}}</span>
                    </div>
                </header>
            
                <p>{{proffy.bio}}</p>
            
                <footer>
                    <p>Preço/hora<strong>R$ {{proffy.cost}}</strong>
                    </p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=55{{proffy.whatsapp}}&
                    text=Tenho interesse na sua aula de {{proffy.subject}} {{proffy.name}}"
                    class="button" target="_blank">
                        <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>

            {%endfor%}
            <!-- <article class="teacher-item">
                <header>
                    <img 
                        src="https://media-exp1.licdn.com/dms/image/C4D03AQG3QNcTnQQL4Q/profile-displayphoto-shrink_200_200/0?e=1602115200&v=beta&t=ntvhZVz_r9MVeuFmsKmEOw4V8CnA1hqkHhQ0xUnkPlo" 
                        alt="Bruno Daniel">
                    <div>
                        <strong>Bruno Daniel</strong>
                        <span>Matemática</span>
                    </div>
                </header>
            
                <p>Viciado em programação e videogames.<br><br>Não pode ver um jogo bom que já quer comprar, gamer e programador estressado! TOME CUIDADO! Ensina muito bem matemática.</p>
            
                <footer>
                    <p>Preço/hora<strong>R$ 70,00</strong>
                    </p>
                    <button type="button">
                        <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                    </button>
                </footer>
            </article>
            <article class="teacher-item">
                <header>
                    <img 
                        src="https://avatars2.githubusercontent.com/u/2254731?s=460&amp;u=0ba16a79456c2f250e7579cb388fa18c5c2d7d65&amp;v=4" 
                        alt="Diego Fernandes">
                    <div>
                        <strong>Diego Fernandes</strong>
                        <span>Química</span>
                    </div>
                </header>
            
                <p>Entusiasta das melhores tecnologias de química avançada.<br><br>Apaixonado por explodir coisas em laboratório e por mudar a vida das pessoas através de experiências. Mais de 200.000 pessoas já passaram por uma das minhas explosões.</p>
            
                <footer>
                    <p>Preço/hora<strong>R$ 20,00</strong>
                    </p>
                    <button type="button">
                        <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                    </button>
                </footer>
            </article> -->
        </main>
    </div>
</body>
</html>